body{
    background-color: #f2f2f2;
    width: 100vw;
    overflow-x: hidden;
}
.navbar{
    margin-bottom:5vh;
}
#mainBody{
    width:90vw;
    margin:auto;
}

#offlineform{
    display: none;
}

.card-img-top{
    background-color: white;

}

#revertModeBtn{
    display:none;
}
.row>a{
    text-align:left;
}
a{
    text-decoration: none;
    text-align: center;
    cursor: pointer;
    margin:0 ;
}
.col-sm,.col-sm-3{
    padding:2vw ;
    margin:1vw;
    border-radius: 6px;
}
.removespace{
 padding:0;
}
.spaceholder{
background-color: transparent;

}
.card{
    margin:1vw;
    border: none;
}
.card-group{
    margin-bottom:2vh;
}